@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #0e172a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #00d8d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #00b8b5;
}

::-webkit-scrollbar-button {
  height: 0.5em;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace, sans-serif;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #231e54;
  color: #ECF0F1;
}

.chatContainer{
  max-width: 600px;
  margin: 15vh auto 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background-color: #231e54;
  position: relative;
  padding: 20px;
}

.titleUser{
  font-size: 3rem;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  animation: titleGlitch 0.5s infinite alternate;
  text-align: center;
  font-family: "Press Start 2P";
  margin-bottom: 1em;
  margin-top: 0.45em;
}

.titleUser::after{
  content: "GLITCH@ROOM";
  position: absolute;
  left: 30px;
  text-shadow: -1px 0 red;
  top: 0;
  color: antiquewhite;
  background-color: #231e54;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: animate-glitch 6s infinite linear alternate-reverse;
}

.titleUser::before{
  content: "GLiTch@RoOM";
  position: absolute;
  right: 35px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: antiquewhite;
  background-color: #231e54;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: animate-glitch 3s infinite linear alternate-reverse;
}

.titleChat{
  font-size: 2rem;
  position: relative;
  color: #d9c5e8;
  animation: titleGlitch 0.5s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite alternate;
  text-align: center;
  font-family: "Press Start 2P";
  margin-bottom: 1em;
  margin-top: 0.25em;
}

#usernameInput{
  margin-bottom: 30px;
  border: 2px solid #6400dd;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace, sans-serif;
  color: #d4d8d8;
  background-color: #2C3E50;
  outline: none;
  display: block;
  width: calc(100% - 1.45em);
  transition: all 0.3s ease;
  text-shadow: 
    0 0 5px #882dff, 
    0 0 10px #882dff,
    0 0 15px #7400d2;
}

#usernameInput::placeholder{
  color: rgba(236, 240, 241, 0.5);
}

#usernameInput:focus{
  border-color: #790dfe;
  box-shadow: 0 0 10px #790dfe, 0 0 20px #790dfe;
  animation: inputGlitch 1s infinite alternate;
}

#enterChat{
  padding: 10px;
  background: transparent;
  width: 10em;
  color: rgb(244, 229, 255);
  transition: all 0.3s ease-in-out;
  border: 2px solid #681ec2;
  border-radius: 10px;
  font-family: "Roboto Mono", monospace, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  box-shadow: inset 0 0 0 0 #681ec2;
  cursor: pointer;
}
  
#enterChat:hover{
  box-shadow: inset 10em 0 0 0 #681ec2;
}

.messages{
  flex: 1;
  height: 300px;
  border: 1px solid #bfbfbf;
  padding: 0 10px 0 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.scroll{
  height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

.chatdiv div{
  display: flex;
  margin: 0.75rem 0;
  justify-content: flex-start;
}

.right div{
  justify-content: flex-end;
}

.right div .chatMessage{
  background-color: #008780;
}

.chatUser{
  color: #8a7a92;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  padding-top: 0.313rem;
}

.chatMessage{
  background-color: #009f97;
  border-radius: 5px;
  padding: 0.313rem 0.5rem;
  color: #dce9ec;
  text-align: left;
  font-size: 1rem;
}

.inputSpace{
  border: 2px solid #00B2A9;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  color: #d7dedf;
  background-color: #2C3E50;
  outline: none;
  transition: all 0.3s ease;
  position: relative;
  width: calc(100% - (7.5em + 10px));
  margin-right: 10px;
}

.inputSpace::placeholder{
  color: rgba(236, 240, 241, 0.5);
}

.inputSpace:focus{
  animation: textGlitch 0.5s infinite alternate;
}

#sendButton{
  padding: 10px;
  background: transparent;
  width: 6em;
  color: rgb(216, 199, 226);
  transition: all 0.2s ease;
  border: 2px solid #5e1baf;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #5e1baf;
  font-weight: 500;
}

#sendButton:hover{
  box-shadow: inset 10em 0 0 0 #5e1baf;
}

.popup{
  position: fixed;
  top: 20px;
  right: 20px;
  border: 3px solid rgb(149, 27, 27);
  color: rgb(196, 43, 43);
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  transition: opacity 0.3s ease;
  font-weight: 500;
  display: flex;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.opaque{
  opacity: 0;
}

.visible{
  opacity: 1;
  visibility: visible;
}

#error-message{
  margin: 0;
}

.errorImg{
  height: auto;
  width: 20px;
}


@media only screen and (max-width: 600px){
  .titleUser{
    font-size: 2rem;
  }
  .chatContainer{
    margin: 15vh auto 0;
  }
}

@media only screen and (max-width: 400px){
  .titleChat{
    font-size: 1.25rem;
  }
  .titleUser{
    font-size: 1.5rem;
  }
  .chatUser{
    font-size: 0.625rem;
  }
  .chatMessage{
    font-size: 0.75rem;
  }
  #sendButton{
    font-size: 0.875rem;
  }
  .inputSpace{
    font-size: 0.875rem;
    width: calc(100% - (7.7em + 10px));
  }
}

@keyframes inputGlitch{
  0%{
    transform: translate(0);
    text-shadow: 
    1px 1px 0 rgba(255, 45, 85, 0.5), 
    -1px -1px 0 rgba(0, 178, 169, 0.5);
  }
  20%{
    transform: translate(-1px, -1px);
    text-shadow: 
    2px 2px 0 rgba(255, 45, 85, 0.5), 
    -2px -2px 0 rgba(0, 178, 169, 0.5);
  }
  40%{
    transform: translate(1px, 1px);
    text-shadow: 
    -1px -1px 0 rgba(255, 45, 85, 0.5), 
    1px 1px 0 rgba(0, 178, 169, 0.5);
  }
  60%{
    transform: translate(-1px, 1px);
    text-shadow: 
    1px 1px 0 rgba(255, 45, 85, 0.5), 
    -1px -1px 0 rgba(0, 178, 169, 0.5);
  }
  80%{
    transform: translate(1px, -1px);
  }
  100%{
    transform: translate(0);
    text-shadow: 
    -1px -1px 0 rgba(255, 45, 85, 0.5), 
    1px 1px 0 rgba(0, 178, 169, 0.5);
  }
}

@keyframes animate-glitch{
  0%{
    clip: rect(99px, 9999px, 45px, 0);
  }
  5%{
    clip: rect(7px, 9999px, 49px, 0);
  }
  10%{
    clip: rect(52px, 9999px, 79px, 0);
  }
  15%{
    clip: rect(51px, 9999px, 42px, 0);
  }
  20%{
    clip: rect(37px, 9999px, 43px, 0);
  }
  25%{
    clip: rect(38px, 9999px, 9px, 0);
  }
  30%{
    clip: rect(34px, 9999px, 93px, 0);
  }
  35%{
    clip: rect(18px, 9999px, 84px, 0);
  }
  40%{
    clip: rect(100px, 9999px, 75px, 0);
  }
  45%{
    clip: rect(15px, 9999px, 4px, 0);
  }
  50%{
    clip: rect(14px, 9999px, 10px, 0);
  }
  55%{
    clip: rect(4px, 9999px, 75px, 0);
  }
  60%{
    clip: rect(17px, 9999px, 55px, 0);
  }
  65%{
    clip: rect(75px, 9999px, 57px, 0);
  }
  70%{
    clip: rect(39px, 9999px, 84px, 0);
  }
  75%{
    clip: rect(96px, 9999px, 54px, 0);
  }
  80%{
    clip: rect(45px, 9999px, 25px, 0);
  }
  85%{
    clip: rect(60px, 9999px, 100px, 0);
  }
  90%{
    clip: rect(5px, 9999px, 6px, 0);
  }
  95%{
    clip: rect(49px, 9999px, 57px, 0);
  }
  100%{
    clip: rect(54px, 9999px, 90px, 0);
  }
}

@keyframes textGlitch{
  0%{
    text-shadow: 
      1px 1px 0 rgba(255, 45, 85, 0.5), 
      -1px -1px 0 rgba(0, 178, 169, 0.5);
  }
  20%{
    text-shadow: 
      2px 2px 0 rgba(255, 45, 85, 0.5), 
      -2px -2px 0 rgba(0, 178, 169, 0.5);
  }
  40%{
    text-shadow: 
      -1px -1px 0 rgba(255, 45, 85, 0.5), 
      1px 1px 0 rgba(0, 178, 169, 0.5);
  }
  60%{
    text-shadow: 
      1px 1px 0 rgba(255, 45, 85, 0.5), 
      -1px -1px 0 rgba(0, 178, 169, 0.5);
  }
  100%{
    text-shadow: 
      -1px -1px 0 rgba(255, 45, 85, 0.5), 
      1px 1px 0 rgba(0, 178, 169, 0.5);
  }
}

@keyframes titleGlitch{
  0%{
    text-shadow: 
      4px 4px 0 rgba(255, 0, 0, 0.5), 
      -2px -2px 0 rgba(0, 255, 0, 0.5), 2px -3px 0 rgba(0, 0, 255, 0.5);
  }
  20%{
    text-shadow: 
      2px 3px 0 rgba(255, 0, 0, 0.5), 
      -2px -2px 0 rgba(0, 255, 0, 0.5), 1px -2px 0 rgba(0, 0, 255, 0.5);;
  }
  50%{
    text-shadow: 
      1px 2px 0 rgba(255, 0, 0, 0.5), 
      -2px -2px 0 rgba(0, 255, 0, 0.5), 4px -1px 0 rgba(0, 0, 255, 0.5);;
  }
  100%{
    text-shadow: 
      1px 3px 0 rgba(255, 0, 0, 0.5), 
      -1px -2px 0 rgba(0, 255, 0, 0.5), 4px -2px 0 rgba(0, 0, 255, 0.5);;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
